################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSA_T01_Group03/DSA_T01_Group03/x64/Debug/DSA_T01_Group03.ilk
/DSA_T01_Group03/DSA_T01_Group03/x64/Debug/DSA_T01_Group03.tlog/link.read.1.tlog
