# Ignore Visual Studio-specific folders
.vs/
x64/
Debug/

# Ignore intermediate and build files
*.obj
*.pdb
*.idb
*.ipch
*.tlog
*.log
*.lastbuildstate
*.suo
*.user
*.unsuccessfulbuild
*.opensdf
*.sdf
*.cachefile
*.VC.db

# Ignore other common artifacts
*.exe
*.dll
*.lib
*.ilk

# Ignore temporary files
*.tmp
*.log